# Java
*.class

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Build folders
bin/
out/
target/

# IntelliJ
.idea/

# Eclipse
.settings/
.project
.classpath

# Temporary files
*.tmp
# XML
.XML
#env
.env